* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	/* background-color:#CCC; */
}

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #0C9;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}

.my-float {
	margin-top: 22px;
}

table {
	border-spacing: 1;
	border-collapse: collapse;
	background: white;
	border-radius: 6px;
	overflow: hidden;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

td,
th {
	padding-left: 8px
}

thead tr {
	height: 60px;
	background: #FFED86;
	font-size: 16px;
}

tbody tr {
	height: 48px;
	border-bottom: 1px solid #E3F1D5;

	&:last-child {
		border: 0;
	}
}

/* td,
th {
	text-align: left;

	&.l {
		text-align: right
	}

	&.c {
		text-align: center
	}

	&.r {
		text-align: center
	}
}
} */